version: '3.8'

services:

  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: salesman-backend
    environment:
      PORT: 5000
      NODE_ENV: production
      DB_HOST: 147.93.96.119
      DB_PORT: 5432
      DB_NAME: salesman_tracking
      DB_USER: admin
      DB_PASSWORD: StrongPass123
      CORS_ORIGIN: http://localhost:5173
    ports:
      - "5005:5000"
    networks:
      - app-network
    restart: unless-stopped

  # Frontend (Production Build)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: salesman-frontend
    environment:
      VITE_API_URL: http://localhost:5000/api
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped


networks:
  app-network:
    driver: bridge
